@import "tailwindcss";

@layer utilities {
    .radial-rings-bg {
      background: repeating-radial-gradient(
        circle,
        #0d0d0d 0px,
        #0d0d0d 10px,
        #000000 10px,
        #000000 28px
      );
    }
  }
  